body, html, #map
{
    height: 100%;
    width: 100%;
    background-color: #003591;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

#map {
    position: relative;
}
#header
{
    position: absolute;
    z-index: 2;
    //width: 100%;
    height: 55px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    background: #404040;
    text-align: center;
    margin: 5px 5px 0px 5px;
    right: 0;
    left: 0;
}

#menu
{
    display: none;
    background-color: #404040;
    position: absolute;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    z-index: 2;
    height: 30%;
    right: 5px;
    left: 5px;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 0 15px;
}

#title
{
    margin: 10px 0 5px;
    display: block;
    font-size: 2em;
    /*-webkit-margin-before: 0.67em;
    -webkit-margin-after: 0.67em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;*/
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#desc
{
    margin: 5px 0;
}

#input, #up, #down {
    display: flex;
}

#input *
{
    width: 50%;
    padding: 5px;
}

#uparrow, #downarrow
{
    text-align: right;
}

#input > div
{
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
}