body, html, #map
{
    height: 100%;
    width: 100%;
    background-color: #003591;
    margin: 0;
}

#map {
    position: relative;
}
#header
{
    position: absolute;
    z-index: 2;
    width: 100%;
    height: 55px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    background: #404040;
    text-align: center;
}
