body, html, #map
{
    height: 100%;
    width: 100%;
    background-color: #003591;
    margin: 0;
    font-family: "Lucida Console", Monaco, monospace;
}

#map {
    position: relative;
}
#header
{
    position: absolute;
    z-index: 2;
    //width: 100%;
    height: 55px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    background: #404040;
    text-align: center;
    margin: 5px 5px 0px 5px;
    right: 0;
    left: 0;
}

#menu
{
    display: none;
    background-color: #404040;
    position: absolute;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    z-index: 2;
    height: 130px;
    right: 5px;
    left: 5px;
    bottom: 0;
    border-radius: 15px 15px 0 0;
    color: white;
    padding: 0 15px;
}

#title
{
    margin: 10px 0 5px;
    display: block;
    font-size: 1.6em;
    font-weight: bold;
    text-decoration: none;
    color: white;
}

#desc
{
    margin: 5px 0;
}

#desc:focus
{
    outline:0;
}

#input, #up, #down {
    display: flex;
}

#input *
{
    width: 50%;
    padding: 5px;
}

#uparrow, #downarrow
{
    text-align: right;
}

#input > div
{
    margin: 5px 10px;
    box-shadow: 0 1px 4px rgba(0,0,0,.3);
    border-style: solid;
}

#up
{
    border-color: #008000;
}

#down
{
    border-color: #800000;
}

#logoimage
{
    filter: invert(100%);
    float: left;
    margin: 5px 10px;
}

#searchimage
{
    float:right;
    margin: 5px 10px;
}

#searchfield
{
    width: 70%;
    height: 80%;
    background-color: white;
    float: right;
    margin-top: 5px;
    margin-right: 5px;
    display: none;
}